{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
	{% static 'css/mentor.css' %}
{% endblock %}

{% block page %}

	<div id="customize-container">
		<div id="customize-contents" class="clearfix">
			<div class="mentor-contents flL">
				<div class="customize-inner infomation">
                    <div class="headding">
                        <h2>運営会社</h2>
                    </div>
                    <div class="info-list">
                        <div class="company-info clearfix">
                            <p class="col-sm-3 control-label">
                                運営会社名
                            </p>
                            <div class="col-sm-8">
                                <p>株式会社Cowork Place</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-list">
                        <div class="company-info clearfix">
                            <p class="col-sm-3 control-label">
                                本社所在地
                            </p>
                            <div class="col-sm-8">
                                <p>〒107-0061<br>東京都港区北青山3-5-6 青朋ビル</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-list">
                        <div class="company-info clearfix">
                            <p class="col-sm-3 control-label">
                                代表者名
                            </p>
                            <div class="col-sm-8">
                                <p>代表取締役社長　久保田 公平</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-list">
                        <div class="company-info clearfix">
                            <p class="col-sm-3 control-label">
                                事業内容
                            </p>
                            <div class="col-sm-8">
                                <p>
                                    プログラミング学習サポートサービスの開発・企画・運営<br>
                                    コワーキングスペース検索サービスの開発・企画・運営
                                </p>
                            </div>
                        </div>
                    </div>
				</div>
			</div>

            {% include "info-right-column.html" %}

		</div>
	</div>
{% endblock %}