{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
	{% static 'css/mentor.css' %}
{% endblock %}

{% block page %}

	<div id="customize-container">
		<div id="customize-contents" class="clearfix">
			<div class="mentor-contents flL">
				<div class="customize-inner infomation">
                    <div class="headding">
                        <h2>お知らせ</h2>
                    </div>
                    {% for infomation in info %}
                    <div class="info-list" id="{{ infomation.id }}">
                        <div class="topic-header clearfix">
                            <p class="news-tag">{{ infomation.tag }}</p>
                            <p class="news-date">{{ infomation.date_time|date:"Y/m/d" }}</p>
                        </div>
                        <h3 class="news-title">{{ infomation.title }}</h3>
                        <div class="news-description">{{ infomation.description|safe }}</div>
                    </div>
                    {% endfor %}
				</div>
			</div>

            {% include "info-right-column.html" %}

		</div>
	</div>
{% endblock %}