            <div class="right-column">
				<div class="topics side-menu">
					<h2 class="heading">About</h2>
                    <ul>
                        <!--<li>-->
                            <!--<a href="">よくある質問</a>-->
                        <!--</li>-->
                        <li>
                            <a href="{% url 'techmentorapp:contact' %}">お問い合わせ</a>
                        </li>
                        <li>
                            <a href="{% url 'techmentorapp:privacy_policy' %}">プライバシーポリシー</a>
                        </li>
                        <li>
                            <a href="{% url 'techmentorapp:policy' %}">利用規約</a>
                        </li>
                        <li>
                            <a href="{% url 'techmentorapp:company' %}">運営会社</a>
                        </li>
                        <li>
                            <a href="{% url 'techmentorapp:infomation' %}">お知らせ</a>
                        </li>
                    </ul>
				</div>
			</div>