{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
	{% static 'css/programming.css' %}
{% endblock %}

{% block page %}
    <div id="main-background">
		<div class="main-inner">
			<div class="main-content">
				<h2>Techmentor Software Expert Help</h2>
				<p>
					Get instant 1:1 help from expert developers on Codementor. Experts on Codementor include book authors, creators of popular open source libraries, and engineers at well-known tech companies.
				</p>
			</div>
		</div>
	</div>

	<div id="customize-container">
		<ul class="customize-inner">
			<li>
				<div class="taC infoIcon"><img src="{% static 'img/programming/web.png' %}"></div>
				<ul class="language">
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">Ruby</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">JavaScript</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">Ruby</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">Ruby</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">JavaScript</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">Ruby</a></li>
				</ul>
			</li>
			<li>
				<div class="taC infoIcon"><img src="{% static 'img/programming/web.png' %}"></div>
				<ul class="language">
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">Ruby</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">JavaScript</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">Ruby</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">Ruby</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">JavaScript</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">Ruby</a></li>
				</ul>
			</li>
			<li>
				<div class="taC"><img src="{% static 'img/programming/web.png' %}"></div>
				<ul class="language">
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">Ruby</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">JavaScript</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">Ruby</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">Ruby</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">JavaScript</a></li>
					<li><i class="fa fa-tag" aria-hidden="true"></i><a href="">Ruby</a></li>
				</ul>
			</li>
		</ul>
	</div>
{% endblock %}