@charset "UTF-8";
/* CSS Document */
/*--------------------------------------------------------------------
  メイン
--------------------------------------------------------------------*/
#main-background:before {
  content: '';
  position: absolute;
  display: block;
  background: rgba(15, 41, 61, 0.85);
  width: 100%;
  height: 440px;
  z-index: 0;
  top: 0px;
  left: 0px;
}

#main-background {
  height: 440px;
  position: relative;
}
#main-background .main-inner {
  width: 1170px;
  margin: 0 auto;
  display: table;
  height: 100%;
}
#main-background .main-inner .main-content {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 10;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}
#main-background .main-inner .main-content h2 {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}
#main-background .main-inner .main-content p {
  font-size: 20px;
  color: #ddd;
  margin-top: 40px;
  line-height: 1.7;
}

#customize-container {
  background: #e9eaec;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
  padding: 60px 0;
}
#customize-container #customize-contents {
  width: 1170px;
  margin: 0 auto;
}
#customize-container .customize-inner {
  width: 850px;
}
#customize-container .customize-inner > .mentor-list {
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px 20px 20px;
  border: 1px solid #ebebeb;
  min-height: 110px;
  position: relative;
  margin-bottom: 20px;
}
#customize-container .customize-inner > .mentor-list .left-column {
  width: 190px;
  margin-top: 20px
}
#customize-container .customize-inner > .mentor-list .left-column .profile-img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
}
#customize-container .customize-inner > .mentor-list .left-column .messageBtn {
  background: #16bb8e;
  border-color: #3d987f;
  color: #fff;
  max-width: 190px;
  padding: 7px 0;
  text-align: center;
  margin: 20px auto;
  display: block;
  border-radius: 4px;
  font-size: 12px;
}
#customize-container .customize-inner > .mentor-list .right-column {
  width: 510px;
  margin-left: 30px;
}
#customize-container .customize-inner > .mentor-list .right-column .mentor-name {
  font-size: 18px;
  font-weight: bold;
  color: #3e90ca;
  line-height: 23px;
}
#customize-container .customize-inner > .mentor-list .right-column .mentor-name:hover {
  text-decoration: underline;
}
#customize-container .customize-inner > .mentor-list .right-column .mentor-introduce {
  margin-top: 10px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
}
#customize-container .customize-inner > .mentor-list .right-column .mentor-profile {
  color: #666;
  margin-top: 15px;
  line-height: 1.6;
}
#customize-container .customize-inner > .mentor-list .right-column .skill-tag {
  margin-top: 15px;
}
#customize-container .customize-inner > .mentor-list .right-column .skill-tag li {
  width: auto;
  display: inline-block;
  color: #545b67;
  padding: 5px 8px;
  font-size: 14px;
  line-height: 15px;
  border-radius: 3px;
  border: 1px solid #b2cdde;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CAE2F0), color-stop(1, #C3D9E7));
  background-image: -o-linear-gradient(bottom, #CAE2F0 0%, #C3D9E7 100%);
  background-image: -moz-linear-gradient(bottom, #CAE2F0 0%, #C3D9E7 100%);
  background-image: -webkit-linear-gradient(bottom, #CAE2F0 0%, #C3D9E7 100%);
  background-image: -ms-linear-gradient(bottom, #CAE2F0 0%, #C3D9E7 100%);
  background-image: linear-gradient(to bottom, #CAE2F0 0%, #C3D9E7 100%);
}
#customize-container .customize-inner > .mentor-list .right-column .skill-tag li a:hover {
  color: #fff;
}
#customize-container .customize-inner .more_btn {
  font-size: 18px;
  text-align: center;
  color: #52b2ef;
  font-weight: bold;
  cursor: pointer;
  padding-top: 20px;
}
#customize-container .right-column {
  width: 300px;
  background: #fff;
  float: right;
}
#customize-container .right-column .topics {
  padding: 15px;
}
#customize-container .right-column .heading {
  border-bottom: 5px solid #000;
  padding: 0 6px 20px;
  font-size: 24px;
  font-weight: bold;
}
#customize-container .right-column .topic-header {
  margin-top: 20px;
}
#customize-container .right-column .news-tag {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #324859;
  color: #fff;
  float: left;
  font-size: 13px;
}
#customize-container .right-column .news-date {
  float: left;
  font-size: 13px;
  padding: 5px 0;
}
#customize-container .right-column .news-title {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
  line-height: 1.7;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
#customize-container .right-column .more-read {
  text-align: right;
  margin-top: 20px;
  color: #52b2ef;
  font-size: 14px;
}
#customize-container .right-column .more-read .fa-caret-right {
  margin-right: 10px;
}
#customize-container .right-column .more-read a {
  color: #52b2ef;
  cursor: pointer;
}
#customize-container .right-column .more-read a:hover {
  text-decoration: underline;
  color: #324859;
}

#relative {
  position: relative;
  margin-top: 50px;
}
#relative .fixed {
  /* position: fixed;
  top: 130px;
  right: 0; */
}
.panel-body p {
  line-height: 1.7;
  margin: 0 0 15px;
}
.btn-block+.btn-block {
  margin-top: 15px!important;
}
.skill-name {
  padding-left: 20px;
  margin-top: 0;
  float: left;
}
.skill-name h3 {
  margin-top: 0;
  font-size: 1.4em;
  margin-bottom: 15px;
}
.skill-name h3 span {
  font-size: 13px;
  color: #555;
  font-weight: normal;
}
.panel-body p {
  margin: 0;
}
.panel-body #panel-body-inner p {
  margin: 0 0 15px;
}


/*# sourceMappingURL=mentor.css.map */
